@import 'variables';

/* Reset Box Sizing */
*,
*:after,
*:before {
  	margin: 0;
  	padding: 0;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box; 
}

// Body Reset

html {
	font-size: 10px;
}

body {
	background-color: $body-background;
	color: $text-color;
 	font-family: $font-family;
 	font-size: $font-size-base;
 	line-height: $line-height;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
 	font-family: inherit;
 	font-size: inherit;
 	line-height: inherit;
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}